/* Include fonts - This is a new feautre of CSS and allows us to download Web fonts */

@font-face {
	font-family:avenir;
	src:/* EOT file for IE */
url(avenir.eot);
}

@font-face {
	font-family:avenir;
	src:/* TTF file for other CSS3 complient browsers */
url(avenir.ttf);
}

@media screen and (min-device-width: 481px) {
	/* Basic styles which apply to the whole site */
	* {
		font-family:avenir,sans-serif;
		margin:0;
		padding:0;
	}
	
	body {
		margin-top:6em;
		padding-bottom:6em;
	}
	
	#content h1,#content h2,#content h3,#content h4,#content h5,#content h6,#content p,#content li {
		margin-bottom:1em;
	}
	
	/* Set the header bar to stretch across the screen, fix it in place and give it a nice background and drop shadow */
	header {
		color:#000;
		background-color:#5bf;
		padding:10px 30px 0px 30px;
		border-bottom:1px solid #000;
		box-shadow:3px 3px 3px 3px rgba(0,0,0,0.4);
		position:absolute;
		top:0;
		left:0;
		width:95%;
	}
	
	header h1 {
		vertical-align:middle;
		margin:12px 1px 0;
		color:#000;
		text-align:left;
		font-size:3em;
		font-weight:400;
	}
	
	#toptoolbar {
		background-color: red;
	}
	
	#mainnav {
		background-color:#5bf;
	}
/*	
	#toptoolbar {
		position: absolute;
		top: 7em;
		left: auto;
		width: 100%
	}
	
	#mainnav {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		border:2px solid #000;
		border-radius:15px 15px;
		background-color:rgb(93,117,249);
		padding: 5px 30px;
		box-shadow:3px 3px 3px 3px rgba(0,0,0,0.4);
		margin-bottom: 1em;
	}
*/	
	header h1 img {
		vertical-align:middle;
	}
	
	button {
		font-size: 10pt;
		padding: 4px;
		margin: 0.5em;
		margin-left: 0;
	}
	
	input {
		font-size: 10pt;
	}
	
	.moneyBox {
		text-align: right;
	}
	
	select {
		font-size: 10pt;
		padding: 4px;
		margin-right: 0.5em;
	}
	
	#accounts {
		width: 31%;
		height:1.5em;
		position:absolute;
		top: 8em;
		left:1em;
		margin:0;
		
		font-size:12pt;
		
		text-align:left;
	}
	
	#actoolbar {
		border:2px solid #000;
		border-radius:15px 15px;
		background-color:rgb(93,117,249);
		padding: 5px 30px;
		box-shadow:3px 3px 3px 3px rgba(0,0,0,0.4);
		margin-bottom: 1em;
	}
	
	#achelp {
		border:2px solid #000;
		border-radius:15px 15px;
		background-color:#5bf;
		padding: 5px 30px;
		box-shadow:3px 3px 3px 3px rgba(0,0,0,0.4);
		margin-bottom: 1em;
	}
		
	.msgDIV {
		border:1px solid #000;
		border-radius:5px 5px;
		background-color:#d4eeff;
		padding: 5px 15px;
		box-shadow:3px 3px 3px 3px rgba(0,0,0,0.4);
		margin-bottom: 1em;
	}
	
	.msgH {
		font-size: 14pt;
		font-weight: bold;
	}
	
	.msgP {
		font-size: 10pt;
	}
	
	#actoolbar button {
		font-size: 10pt;
		margin-right: 0.5em;
	}
	
	#editAccount {
		border:2px solid #000;
		border-radius:15px 15px;
		background-color: #cacaca;
		padding: 5px 30px;
		box-shadow:3px 3px 3px 3px rgba(0,0,0,0.4);
		margin-bottom: 1em; 
	}
	
	#transactionarea {
		position: absolute;
		top: 8em;
		right: 1em;
		width: 65%;
	}
	
	#transtoolbar {
		border:2px solid #000;
		border-radius:15px 15px;
		background-color:rgb(93,117,249);
		padding: 5px 30px;
		margin-bottom: 1em;
		box-shadow:3px 3px 3px 3px rgba(0,0,0,0.4);
	}
	
	#transactions {
		padding: 5px 30px;
	}
	
	#transTable {
		width: 100%;
		border-spacing: 0;
		border:2px solid #000;
		border-radius:8px 8px;
	}
	
	#transTable thead {
		background-color: #5bf;
		border-radius:8px 8px;
	}
	
	#transTable thead th:first-child {
		background-color: #5bf;
		border-radius:8px 0px 0px 0px;
	}
	
	#transTable thead th:last-child {
		background-color: #5bf;
		border-radius:0px 8px 0px 0px;
	}
	
	#transTable tr:last-child td:first-child {
		border-radius:0px 0px 0px 8px;
	}
	
	#transTable tr:last-child td:last-child {
		border-radius:0px 0px 8px 0px;
	}
	
	#transTable tr:nth-child(odd) td {
		background-color:#cacaca;
	}
	
	#transTable tr td {
		padding: 5px;
	}
	
	#transTable button {
		margin: 0;
	}
	
	#transTable .dateCell {
		text-align: center;
	}
	
	#transTable .moneyInCell {
		text-align: right;
		color: blue;
	}
	
	#transTable .moneyOutCell {
		text-align: right;
		color: red;
	}
	
	#transTable .balancePosCell {
		text-align: right;
		color: black;
	} 
	
	#transTable .balanceNegCell {
		text-align: right;
		color: red;
	}
	
	#transTable .avBalanceCell {
		text-align: right;
	}
	
	#transTable .delCell {
		text-align: center;
		
	}
	
	#newTransTable {
		width: 100%;
	}
	
	#newTransTable th {
		text-align: center;
	}
	
	#newTransTable tr td {
		text-align: center;
	}
	
	#transType1 {
		margin-right: 1em; 
	}
	
	#transType2 {
		margin-left: 3em;
		margin-right: 1em;
	}
	
	.acLabels {
		display: inline-block;
		width: 130px;
	}
	
	.helpText {
		font-size: 10pt;
		color: red;
	}